
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0px;
}

body, html {
    height: 100%;
}

.cover {
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: #080808;
}

header.blogheader {
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    width: 95%;
    height: 75px;
    padding: 22px 25px 15px;
    transition: left .5s ease-in-out,-webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out,left .5s ease-in-out;
    transition: transform 150ms ease-in-out,left .5s ease-in-out,-webkit-transform 150ms ease-in-out;
    border-bottom: 2px solid #f2f2f2;
    background: #fff;
}

    header.blogheader.transparent {
        position: absolute;
        padding: 35px;
        border: 0;
        background: 0 0;
    }

    header.blogheader .title {
        font-size: 18px;
        font-weight: 600;
        float: left;
        color: #373737;
    }

        header.blogheader .title a img {
            max-height: 31px;
        }

    header.blogheader nav {
        float: right;
    }

nav.main ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

    nav.main ul li {
        position: relative;
        display: block;
        float: left;
    }

        nav.main ul li:first-child:before {
            content: '';
        }

nav.light ul li:before {
    color: #737373;
}

nav.main ul > li:before {
    font-family: arial;
    font-size: 8px;
    content: '\25CF';
    vertical-align: 3px;
    color: #dfdfdf;
}

nav.main ul a {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 3px 12px 15px;
    cursor: pointer;
    transition: color .15s ease-in;
    text-transform: uppercase;
    color: #4b4b4b;
    text-decoration: none;
}

nav.light ul a, nav.light ul span {
    color: #d9d9d9;
}


.landing-bg {
    background: url(../Images/landing-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-repeat: no-repeat;
    opacity: .4;
}

.blog-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Images/landing-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    max-height: 350px;
    background-repeat: no-repeat;
    position: absolute;
}