
<header class="blogheader transparent">
    <div class="title">
        <a href="/Home"><img src="https://montemagno.com/assets/img/logo_circle.png?v=f5942c587e" class="retina" alt="Gerade Geldenhuys"></a>
    </div>
    <nav class="main light">
        <ul class="nav-items">
            <li class="nav-home nav-current" role="presentation"><a href="/Home">Home</a></li>
            <li class="nav-about" role="presentation"><a href="/Blog">Blog</a></li>
            <li class="nav-apps" role="presentation"><a href="https://montemagno.com/my-apps/">Apps</a></li>
            <li class="nav-search" role="presentation"><a href="https://montemagno.com/search/">About</a></li>
        </ul>
    </nav>
</header>